# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/src/config/wechat.js

# misc
.DS_Store
npm-debug.log*
package-lock.json
yarn.lock

