# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/.vscode
/src/config/wechat.js
/dist/www
/dist

# misc
.idea
.DS_Store
npm-debug.log*
package-lock.json
yarn.lock

