@import '../../theme/index.less';

.menu{
  padding:24px 0;

  :global{
    .ant-menu-item{
      padding:0;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
      background: none;
      &:after{
        border: none;
      }
    }
  }

  dl{
    dt{
      padding: 0 24px;
      line-height: 28px;
    }
  }

  ul{
    li{
      padding: 0;
      margin: 4px 0 8px 0;
      h4{
        margin-left: -24px;
        padding: 0 16px 0 40px;
      }
      a{
        display: block;
        line-height: 40px;
        color: @color_333;
        text-decoration: none;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          border-right: 3px solid #1890ff;
          transition: transform .15s;
          transform: scaleY(.0001);
          opacity: 0;
        }
        &:hover{
          color: @color_blue
        }
        &.active{
          color: @color_blue;
          background: #e6f7ff;
          &:after{
            transform: scaleY(1);
            opacity: 1;
          }
        }
      }

      &.item a{
        margin-left: -24px;
        padding: 0 16px 0 40px;
      }
      &.subItem a{
        margin-left: -48px;
        padding: 0 16px 0 56px;
      }

    }
  }

}
