.rankList .rankItem {
  padding: 5px 0;
}
.rankList .rankItem .title {
  color: #333;
}
.rankList .rankItem a:hover .title {
  color: #1890ff;
}
.rankList .rankItem .desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 5px 0;
  line-height: 2em;
  color: #666;
}
.rankList .rankItem .info {
  color: #999;
  font-size: 12px;
}
.rankList .rankItem .info span {
  margin-right: 10px;
}
