.container{
  padding: 60px 0;

  .head{
    padding: 50px 10px;
    text-align: center;
    h1{
      font-size: 36px;
      font-weight: normal;
      color: #525558;
    }
    p{
      font-size: 15px;
      color: #525558;
    }
  }
}
