//屏幕宽度
@view_width: 1220px;

//文字颜色
@color_000: #000;
@color_333: #333;
@color_666: #666;
@color_777: #777;
@color_888: #888;
@color_999: #999;
@color_gray: #b4b4b4;
@color_white: rgba(255, 255, 255, 0.9);
@color_red: #fd565e;
@color_blue: #1890ff;
@color_blue2: #56abee;
@color_blue3: #e6f7ff;

@border: #ebebeb;
@bg: #f0f2f5;

//链接
@link: #71767a;
@link_hover: #1890ff;

//文字效果
@font_weight: bold;

//边框线
@border_color: rgb(227, 227, 227);

//阴影
@box_shadow: 0 2px 8px 0 rgba(133,136,138,.1);
@box_shadow_inset: 0 2px 8px 0 rgba(133,136,138,.1) inset;
