//屏幕宽度
@view_width: 1020px;

//文字颜色
@color_000: #000;
@color_333: #333;
@color_666: #666;
@color_999: #999;
@color_gray: #b4b4b4;
@color_white: rgba(255, 255, 255, 0.9);
@color_red: #fd565e;

//链接
@link: #1890ff;
@link_hover: #1890ff;

//文字效果
@font_weight: bold;
