@import '../../theme/index.less';

.main{

  :global{
    .ant-menu-horizontal{
      padding-top: 10px;
      text-align: center;
      box-shadow: @box_shadow;
    }
    .ant-menu-horizontal > .ant-menu-item{
      display: inline-block;
    }
  }

  .container{
    padding: 20px 0;
  }
  .content{
    min-height: 500px;
    background: green
  }
  .slide{
    min-height: 500px;
    background: blue
  }

}
