@import '../../theme/index.less';

.container{
  padding: 30px 0 50px;
  background: #454e52;
}

.footContent{
  width: @view_width;
  min-width: @view_width;
  margin: 0 auto;
  padding: 0 10px;

  .top{
    overflow: hidden;

    dl{
      float: left;
      width:200px;
      dt{
        font-size: 16px;
        font-weight: bold;
        line-height: 2em;
        color: #e6e6e6;
        margin-bottom: 10px;
      }
      dd{
        font-size: 14px;
      }
      a{
        color: @color_gray;
        &:hover{
          color: @link_hover
        }
      }
    }

    ul{
      float: right;
      li{
        line-height: 2em;
        text-align: right;
        color: #e6e6e6;
        margin-bottom: 15px;
        .size18{
          font-size: 18px;
        }
        .size26{
          font-size: 26px;
        }
      }
    }
  }

  .bottom{
    padding: 30px 0;
    border-top: 1px solid #595959;;
    span{
      margin-right: 10px;
      color: @color_gray;
    }
  }
}
