@import '../../theme/index.less';

.mainMenu{

  li{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  :global(.ant-menu.ant-menu-dark .ant-menu-item-selected){
    background: none;
  }

  :global(.ant-menu-dark .ant-menu-item-selected a){
    color: @link;
  }

  :global(.ant-menu){
    background: none;
  }
  :global(.ant-menu-horizontal){
    border: none
  }

}
