.handle {
  color: #999;
}
.handle ul {
  height: 64px;
  line-height: 64px;
  font-size: 16px;
  text-align: center;
}
.handle ul li {
  display: block;
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
}
.handle a {
  color: #999;
}
.handle i {
  font-size: 20px;
}
.handle span {
  display: inline-block;
  min-width: 16px;
  margin-left: 5px;
  font-size: 16px;
  position: relative;
  top: -2px;
}
