.photoInfo .frame {
  color: #fff;
}
.photoInfo .frame .section {
  padding: 15px;
  border-bottom: 1px solid #1c1d1e;
  position: relative;
}
.photoInfo .frame .post {
  padding-left: 70px;
  position: relative;
}
.photoInfo .frame .post p {
  margin: 0;
  height: 20px;
  line-height: 20px;
}
.photoInfo .frame .post p span {
  margin-right: 15px;
  color: #999;
}
.photoInfo .frame .post .date {
  font-size: 12px;
}
.photoInfo .frame .post a {
  font-size: 14px;
  color: #fff;
}
.photoInfo .frame .post a img {
  width: 100%;
  height: 100%;
}
.photoInfo .frame .post a.avatar {
  width: 42px;
  height: 42px;
  background-color: #999;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -21px;
}
.photoInfo .frame .post a.avatar i {
  font-size: 30px;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  left: 50%;
  top: 50%;
}
.photoInfo .frame .post a.follow {
  color: #108ee9;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
}
.photoInfo .frame .title h1 {
  line-height: 2em;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.photoInfo .frame .title p {
  margin-top: 10px;
  line-height: 1.7em;
  font-size: 14px;
}
.photoInfo .frame .title p.tagList {
  margin-bottom: 0;
}
.photoInfo .frame .title p .tagItem {
  display: inline-block;
  margin: 0 10px 0 0;
  color: #fff;
}
.photoInfo .frame .title p .tagItem:before {
  content: "# ";
}
.photoInfo .frame .exif {
  min-height: 143px;
}
.photoInfo .frame .exif ul {
  margin: 0;
}
.photoInfo .frame .exif li {
  font-size: 14px;
  line-height: 2em;
  color: #999;
  text-align: center;
}
.photoInfo .frame .exif li.camera a {
  font-size: 16px;
  color: #108ee9;
}
.photoInfo .frame .exif li.lens a {
  color: #999;
}
.photoInfo .frame .exif li span {
  margin-right: 5px;
}
.photoInfo .frame .exif a {
  color: #333;
}
.photoInfo .frame .exif a:hover {
  color: #108ee9;
}
.photoInfo .frame .comment {
  padding: 15px;
}
.photoInfo .exifDetail {
  display: none;
  padding: 15px;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  overflow-y: auto;
}
.photoInfo .exifDetail.show {
  display: block;
}
.photoInfo .exifDetail p {
  margin: 0;
  line-height: 1.8em;
  font-size: 12px;
  overflow: hidden;
}
.photoInfo .exifDetail p label {
  float: left;
  color: #999;
}
.photoInfo .exifDetail p span {
  float: right;
  color: #666;
}
.photoInfo .exifDetail p strong {
  font-size: 14px;
}
.photoInfo .exifDetail a {
  color: #333;
  font-size: 14px;
}
.photoInfo .exifDetail a:hover {
  color: #108ee9;
}
