.photoSwiper {
  width: 100%;
  height: 100%;
  background: none;
  position: relative;
}
.photoSwiper .swiperHeader {
  height: 64px;
  line-height: 64px;
  text-align: center;
}
.photoSwiper .swiperHeader a {
  color: #fff;
  opacity: .6;
}
.photoSwiper .swiperHeader a:hover {
  color: #108ee9;
  opacity: 1;
}
.photoSwiper .swiperHeader a.full {
  font-size: 22px;
}
.photoSwiper .swiperHeader a.close {
  font-size: 30px;
}
.photoSwiper .swiperHeader span {
  font-size: 16px;
  letter-spacing: 8px;
  color: #fff;
  opacity: 0.6;
}
.photoSwiper .detailSwiper {
  position: absolute;
  left: 0;
  top: 64px;
  right: 0;
  bottom: 0;
}
.photoSwiper .detailSwiper .scene {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 110px;
}
.photoSwiper .detailSwiper .scene a.mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: url('../../assets/zoom.cur'), move;
}
.photoSwiper .detailSwiper .scene a.arrow {
  display: block;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.photoSwiper .detailSwiper .scene a.prev {
  left: 0;
}
.photoSwiper .detailSwiper .scene a.next {
  right: 0;
}
.photoSwiper .detailSwiper .scene a.prev:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
}
.photoSwiper .detailSwiper .scene a.next:hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
}
.photoSwiper .detailSwiper .scene a.arrow:hover i {
  color: #108ee9;
  opacity: 1;
}
.photoSwiper .detailSwiper .scene a i {
  font-size: 36px;
  margin-left: -18px;
  margin-top: -18px;
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  opacity: .6;
  text-shadow: 0 1px 2px #000;
}
.photoSwiper .detailSwiper .scene .sceneContainer .spin {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}
.photoSwiper .detailSwiper .scene .sceneContainer img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.photoSwiper .detailSwiper .scene .sceneContainer img.current {
  display: block;
}
.photoSwiper .detailSwiper .scene .sceneContainer img.hidden {
  display: none;
}
.photoSwiper .detailSwiper .scene .sceneContainer img.loading {
  display: none;
}
.photoSwiper .detailSwiper .thumb {
  width: 100%;
  height: 110px;
  padding: 20px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.photoSwiper .detailSwiper .thumb .thumbContainer {
  width: auto;
  height: 70px;
  position: absolute;
  top: 20px;
  left: 50%;
  transition: transform .3s linear;
}
.photoSwiper .detailSwiper .thumb .thumbItem {
  display: inline-block;
  width: 106px;
  height: 70px;
  margin: 0 5px;
  background-color: #444;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.photoSwiper .detailSwiper .thumb .thumbItem:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.photoSwiper .detailSwiper .thumb .thumbItem.current:after {
  border: 1px solid #fff;
  background: none;
}
.photoSwiper .detailSwiper .thumb .arrow {
  display: none;
  width: 100px;
  height: 110px;
  line-height: 110px;
  font-size: 30px;
  color: #fff;
  opacity: .6;
  text-align: center;
  position: absolute;
  top: 0;
}
.photoSwiper .detailSwiper .thumb .arrow.prev {
  left: 0;
}
.photoSwiper .detailSwiper .thumb .arrow.next {
  right: 0;
}
.photoSwiper .detailSwiper .thumb .arrow:hover {
  color: #108ee9;
  opacity: 1;
}
.photoSwiper .detailSwiper .thumb:hover .arrow {
  display: block;
}
.photoSwiper.fullscreen .scene a.mask {
  cursor: url('../../assets/zoomout.cur'), pointer;
}
